@import "animations";
* {
    box-sizing: border-box;
}
html {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: $text;
    background: $background;
    overflow-x: hidden;
}
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}