$background: #0E0E10;
$background2: #18181B;
$background3: #1F1F23;
$background4: #464649;

$text: #EFEFF1;
$text-darker: #ADADB8;

$active-purple: #772CE8;
$active-purple-hover: #9256ED;
$active-purple-light: #BF94FF;

$alert: #E91916;
$valid: #00F593;